<% if @current_user %>
  <h1>Survey GODZILLA</h1>
  <p><a id="create-survey">+ Create new survey</a></p>
  <%= erb :_new_survey %>
  <div class="edit-container"></div>
  <%= erb :_display_table %>
<% else %>
  <%= erb :sign_in %>
<% end %>